ENV=development
PORT=3002
APP_VERSION=1.0.0
DB_HOST=localhost
DB_PORT=5432
DB_NAME=neobank_accounts
DB_USER=neobank
DB_PASSWORD=neobank_secret
DB_SSLMODE=disable
REDIS_URL=redis://localhost:6379
AUTH_SERVICE_URL=http://localhost:3001
LOG_LEVEL=debug
