ENV=development
PORT=3003
APP_VERSION=1.0.0
DB_HOST=localhost
DB_PORT=5432
DB_NAME=neobank_transactions
DB_USER=neobank
DB_PASSWORD=neobank_secret
REDIS_URL=redis://localhost:6379
KAFKA_BROKERS=localhost:9092
ACCOUNT_SERVICE_URL=http://localhost:3002
AUTH_SERVICE_URL=http://localhost:3001
SQL_ECHO=false
LOG_LEVEL=info
